@import "tailwindcss";

/* Eliminamos las variables fijas del body que bloquean a GSAP */
body {
  /* Dejamos el fondo vacío inicialmente o un color base limpio */
  background-color: #ffffff;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, sans-serif;
  transition: color 0.5s ease; /* Suaviza el cambio de texto */
}

html, body {
  overflow-x: hidden;
}

/* Evita que el modo oscuro del sistema interfiera con nuestro diseño manual */
@media (prefers-color-scheme: dark) {
  body {
    background-color: transparent;
  }
}