.section {
    height: 100vh;
    background: linear-gradient(
            160deg,
            #0E111B 0%,
            #0E111B 70%,   /* Color oscuro sólido hasta el 70% */
            #252F4A 90%,   /* Transición rápida */
            #252F4A 100%
    );
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 300px 0;
}

.bgDecorLeft {
    position: absolute;
    left: -5%;
    top: -5%;
    z-index: 1;
    pointer-events: none;
}

.bgDecorRight {
    position: absolute;
    right: -5%;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

/* Título fijo a la derecha */
.titleSide {
    z-index: 2;
    flex-shrink: 0;
}

.mainTitle {
    font-size: 4.5rem;
    font-weight: 800;
    color: white;
    line-height: 1.05;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.blueText {
    color: #C4D5F9;
}

/* Ventana que muestra solo una card */
.viewport {
    width: 60%;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.cardsTrack {
    display: flex;
    flex-direction: column;
    gap: 100px;
    will-change: transform;
    align-items: center;
}

.card {
    width: 90%;
    height: 580px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.cardTag {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    line-height: 1.4;
}

.statNumber {
    font-size: 7rem;
    font-weight: 800;
    color: #C4D5F9;
    letter-spacing: -0.05em;
    margin: 16px 0;
}

.cardFooter {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.cardText {
    font-size: 1rem;
    color: white;
    line-height: 1.6;
}

.cardText strong {
    font-weight: 700;
}

.cardTextCenter {
    font-size: 1rem;
    color: white;
    line-height: 1.6;
}

.shieldIcon {
    margin-bottom: 24px;
}